@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.nav-item {
    display: inline-block;
    margin-top: 10px;
}

body{
    background-color: crimson;
}
h1{
    font-family: 'Dancing Script', cursive;
}
