{% extends "header.html" %}
{% block body %}
<html>
    <header>
    <h1>Want to play the Demo?</h1>
        <h2>Here is a few steps on how to download it and start it up.</h2>
    </header>
    <body>
        <p>First, click on the "download" button. once you have done that, you should be taken to a file where you then want to click on "..." button. A dropdown box should appear and you will want to click on download. Wait for the file to download and once it is complete click the file and go into it. then follow the sequence, Digit4Project-1.0-pc.zip -> Digit4Project-1.0-pc -> Digit4Project.exe.  When you click on the .exe file for the first time it will ask you to extract the file. Please extract it and place it on your desktop.  After a quick extraction, click on the desktop file and once again click on the Digit4Project.exe file.  The game demo should start up and you are free to play at your own leasure. </p>
        <h4>Thanks for downloading!!!</h4>
    <a class="btn btn-primary btn-lg" href="https://psu.box.com/s/hokz0qiugzhb6ab9gu6t69z06ck79ayd" role="button">Download</a>
    </body>
</html>
{% endblock %}